@import "tailwindcss";

:root {
  --primary: #8faa0d; /* Olive green (Primary color) */
  --secondary: #031a0a; /* Dark forest green (Secondary color) */

  /* Text colors */
  --text-primary: #4b5563; /* Very dark gray (Primary text color) */
  --text-secondary: #1f2937; /* Charcoal (Secondary text color) */
  --text-dark: #000000; /* Black (Dark text color) */
  --text-light: #ffffff; /* White (Light text color) */

  /* Neutral shades for various uses */
  --neutral-dark: #9ca3af; /* Dark gray (Dark neutral gray) */
  --neutral-base: #cccccc; /* Silver (Base neutral gray) */
  --neutral-light: #d9d9d9; /* Gainsboro (Light neutral gray) */

  /* Accent colors for highlights */
  --accent-dark: #dbeafe; /* Pale lavender (Dark accent color) */
  --accent-base: #ede9fe; /* Lavender mist (Base accent color) */
  --accent-light: #f5f3ff; /* Lavender blush (Light accent color) */

  /* Background shades */
  --background-base: #ffffff; /* White (Base background color) */

  /* Semi-transparent white shades */
  --semi-nav-90: #ffffffe6; /* Semi-transparent white (90% opacity) */
  --semi-nav-80: #ffffffcc; /* Semi-transparent white (80% opacity) */
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-base);
}

.loader {
  width: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid white;
  animation:
    l20-1 0.8s infinite linear alternate,
    l20-2 1.6s infinite linear;
}
@keyframes l20-1 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
  }
  12.5% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 0%,
      100% 0%,
      100% 0%
    );
  }
  25% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      100% 100%,
      100% 100%
    );
  }
  50% {
    clip-path: polygon(
      50% 50%,
      0 0,
      50% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  62.5% {
    clip-path: polygon(
      50% 50%,
      100% 0,
      100% 0%,
      100% 0%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  75% {
    clip-path: polygon(
      50% 50%,
      100% 100%,
      100% 100%,
      100% 100%,
      100% 100%,
      50% 100%,
      0% 100%
    );
  }
  100% {
    clip-path: polygon(
      50% 50%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      50% 100%,
      0% 100%
    );
  }
}
@keyframes l20-2 {
  0% {
    transform: scaleY(1) rotate(0deg);
  }
  49.99% {
    transform: scaleY(1) rotate(135deg);
  }
  50% {
    transform: scaleY(-1) rotate(0deg);
  }
  100% {
    transform: scaleY(-1) rotate(-135deg);
  }
}
