#signup-page {
  @media only screen and (max-width: 1439.8px) {
    .circle-svg {
      display: none;
    }

    .layout-grid-container {
        padding-left: 28px;
        grid-template-columns: 50% 50%;
    }

    .grid-form-column {
        padding-left: 0;
        justify-content: center;
    }
  }

  @media only screen and (max-width: 1279.8px) {
    .layout-grid-container {
        padding-left: 20px;
    }
  }

  @media only screen and (max-width: 1023.8px) {
    .layout-grid-container {
        grid-template-columns: 100%;
    }
  }
}
